@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 800px;
    margin:0 auto;
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5f5;
}

.navbar{
    background-color: #fff;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(132, 67, 67);
}

.navbar h1{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1316d;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    color: #a19e9e; ;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 1rem;
}
.navbar a:hover{
    color: #f1316d;
}

.content{    
    margin: 40px ;
    padding: 20px;
}

/* css for blog preview */
.blog-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    
}

.blog-preview h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1316d;
    margin: 10px 0;
}

.blog-preview p{
    font-size: 1.2rem;
    font-weight: 400;
    color: #a19e9e;
    margin: 10px 0;
}

.blog-preview:hover{
   box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}


.blog-preview a{
    text-decoration: none;
}
.blog-details article{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    
}
.blog-details article div{
    color: #3f90e1;
    font-size: 1.2rem;
    font-weight: 500;
}

.create{
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
}

.create label{
    text-align: left;
    display: block;
}
.create h2{
    font-size: 1.5rem;
    font-weight: 500;
    color: #f1316d;
    margin: 10px 0;
}
.create input, .create textarea, .create select{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #a19e9e;
}
.create button{
    width: 100%;
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    background-color: #4b32bb;
    cursor: pointer;
}
